IF DB_ID('SeenIT') IS NULL
BEGIN
    CREATE DATABASE SeenIT;
END
GO

USE SeenIT;
GO
/****** Object:  Table [dbo].[Film]    Script Date: 19.06.2025 20:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tytul] [nvarchar](150) NOT NULL,
	[Opis] [text] NULL,
	[DataPremiery] [date] NULL,
	[RodzajId] [int] NULL,
	[UrlFoto] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaObejrzane]    Script Date: 19.06.2025 20:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaObejrzane](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UzytkownikId] [int] NULL,
	[FilmId] [int] NULL,
	[SerialId] [int] NULL,
	[DataDodania] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaObserwowane]    Script Date: 19.06.2025 20:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaObserwowane](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UzytkownikId] [int] NULL,
	[FilmId] [int] NULL,
	[SerialId] [int] NULL,
	[DataDodania] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odcinek]    Script Date: 19.06.2025 20:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odcinek](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tytul] [nvarchar](150) NOT NULL,
	[NumerSezonu] [int] NULL,
	[NumerOdcinka] [int] NULL,
	[DataPremiery] [date] NULL,
	[SerialId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecenzjaFilmu]    Script Date: 19.06.2025 20:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecenzjaFilmu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tresc] [text] NOT NULL,
	[Ocena] [int] NULL,
	[Data] [date] NULL,
	[UzytkownikId] [int] NULL,
	[FilmId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecenzjaOdcinka]    Script Date: 19.06.2025 20:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecenzjaOdcinka](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tresc] [text] NOT NULL,
	[Ocena] [int] NULL,
	[Data] [date] NULL,
	[UzytkownikId] [int] NULL,
	[OdcinekId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecenzjaSerialu]    Script Date: 19.06.2025 20:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecenzjaSerialu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tresc] [text] NOT NULL,
	[Ocena] [int] NULL,
	[Data] [date] NULL,
	[UzytkownikId] [int] NULL,
	[SerialId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rodzaj]    Script Date: 19.06.2025 20:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rodzaj](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Serial]    Script Date: 19.06.2025 20:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Serial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tytul] [nvarchar](150) NOT NULL,
	[Opis] [text] NULL,
	[DataStartu] [date] NULL,
	[RodzajId] [int] NULL,
	[UrlFoto] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ulubione]    Script Date: 19.06.2025 20:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ulubione](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UzytkownikId] [int] NULL,
	[FilmId] [int] NULL,
	[SerialId] [int] NULL,
	[DataDodania] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uzytkownik]    Script Date: 19.06.2025 20:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uzytkownik](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Haslo] [nvarchar](100) NOT NULL,
	[Nick] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Film] ADD  DEFAULT ('default.png') FOR [UrlFoto]
GO
ALTER TABLE [dbo].[ListaObejrzane] ADD  DEFAULT (getdate()) FOR [DataDodania]
GO
ALTER TABLE [dbo].[ListaObserwowane] ADD  DEFAULT (getdate()) FOR [DataDodania]
GO
ALTER TABLE [dbo].[RecenzjaFilmu] ADD  DEFAULT (getdate()) FOR [Data]
GO
ALTER TABLE [dbo].[RecenzjaOdcinka] ADD  DEFAULT (getdate()) FOR [Data]
GO
ALTER TABLE [dbo].[RecenzjaSerialu] ADD  DEFAULT (getdate()) FOR [Data]
GO
ALTER TABLE [dbo].[Serial] ADD  DEFAULT ('default.jpg') FOR [UrlFoto]
GO
ALTER TABLE [dbo].[Ulubione] ADD  DEFAULT (getdate()) FOR [DataDodania]
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD FOREIGN KEY([RodzajId])
REFERENCES [dbo].[Rodzaj] ([Id])
GO
ALTER TABLE [dbo].[ListaObejrzane]  WITH CHECK ADD FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
GO
ALTER TABLE [dbo].[ListaObejrzane]  WITH CHECK ADD FOREIGN KEY([SerialId])
REFERENCES [dbo].[Serial] ([Id])
GO
ALTER TABLE [dbo].[ListaObejrzane]  WITH CHECK ADD FOREIGN KEY([UzytkownikId])
REFERENCES [dbo].[Uzytkownik] ([Id])
GO
ALTER TABLE [dbo].[ListaObserwowane]  WITH CHECK ADD FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
GO
ALTER TABLE [dbo].[ListaObserwowane]  WITH CHECK ADD FOREIGN KEY([SerialId])
REFERENCES [dbo].[Serial] ([Id])
GO
ALTER TABLE [dbo].[ListaObserwowane]  WITH CHECK ADD FOREIGN KEY([UzytkownikId])
REFERENCES [dbo].[Uzytkownik] ([Id])
GO
ALTER TABLE [dbo].[Odcinek]  WITH CHECK ADD FOREIGN KEY([SerialId])
REFERENCES [dbo].[Serial] ([Id])
GO
ALTER TABLE [dbo].[RecenzjaFilmu]  WITH CHECK ADD FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
GO
ALTER TABLE [dbo].[RecenzjaFilmu]  WITH CHECK ADD FOREIGN KEY([UzytkownikId])
REFERENCES [dbo].[Uzytkownik] ([Id])
GO
ALTER TABLE [dbo].[RecenzjaOdcinka]  WITH CHECK ADD FOREIGN KEY([OdcinekId])
REFERENCES [dbo].[Odcinek] ([Id])
GO
ALTER TABLE [dbo].[RecenzjaOdcinka]  WITH CHECK ADD FOREIGN KEY([UzytkownikId])
REFERENCES [dbo].[Uzytkownik] ([Id])
GO
ALTER TABLE [dbo].[RecenzjaSerialu]  WITH CHECK ADD FOREIGN KEY([SerialId])
REFERENCES [dbo].[Serial] ([Id])
GO
ALTER TABLE [dbo].[RecenzjaSerialu]  WITH CHECK ADD FOREIGN KEY([UzytkownikId])
REFERENCES [dbo].[Uzytkownik] ([Id])
GO
ALTER TABLE [dbo].[Serial]  WITH CHECK ADD FOREIGN KEY([RodzajId])
REFERENCES [dbo].[Rodzaj] ([Id])
GO
ALTER TABLE [dbo].[Ulubione]  WITH CHECK ADD FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
GO
ALTER TABLE [dbo].[Ulubione]  WITH CHECK ADD FOREIGN KEY([SerialId])
REFERENCES [dbo].[Serial] ([Id])
GO
ALTER TABLE [dbo].[Ulubione]  WITH CHECK ADD FOREIGN KEY([UzytkownikId])
REFERENCES [dbo].[Uzytkownik] ([Id])
GO
ALTER TABLE [dbo].[RecenzjaFilmu]  WITH CHECK ADD CHECK  (([Ocena]>=(1) AND [Ocena]<=(10)))
GO
ALTER TABLE [dbo].[RecenzjaOdcinka]  WITH CHECK ADD CHECK  (([Ocena]>=(1) AND [Ocena]<=(10)))
GO
ALTER TABLE [dbo].[RecenzjaSerialu]  WITH CHECK ADD CHECK  (([Ocena]>=(1) AND [Ocena]<=(10)))
GO
